*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#Green {
    background-color: green;
}
#Red {
    background-color: red;
}
#Blue {
    background-color: blue;
}
#white {
    background-color: white;
    color: black;
}
#random {
    background-color: aqua;
}

.txt, button {
    border-radius: 5px;
    text-align: center;
    width: 150px;
    margin: 20px;
    height: 60px;
}