body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(247, 246, 252);
    color: rgb(70, 72, 81);
    font-family: "Open Sans", "Sansita", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 30px;
}

.text-secondary {
    color: rgb(70, 72, 81)
}

.text-blue {
    color: rgb(29, 38, 154);
}

.background-blue {
    background-color: rgb(29, 38, 154);
}

.text-red {
    color: rgb(213, 0, 0);
}

.background-red {
    background-color: rgb(213, 0, 0);
}

.text-green {
    color: rgb(46, 125, 50);
}

.background-green {
    background-color: rgb(46, 125, 50);
}

.text-orange {
    color: rgb(255, 111, 0);
}

.background-orange {
    background-color: rgb(255, 111, 0);
}

.grid-container {
 display: grid;   
 grid-template-columns: 255px 1fr 1fr 1fr;
 grid-template-rows: 0.2fr 3fr;
 grid-template-areas:
  'sidebar header header header'
  'sidebar main main main';
 height: 100vh;
}

/* ------------- HEADER ------------ */

.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

/* ------------- SIDEBAR ------------ */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: rgb(29, 38, 154);
    color: rgb(255, 255, 255);
    overflow-y: auto;
    transition:all 0.5s;
    --webkit-transition: all 0.5s;
}

/* ------------- MAIN ------------ */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}